/**
*
*  --------- Wide Header --------
*      ------  Header ------
*      |                   |
*      ---------------------
*
*
*
*
*/

html {
}

body {
  height: 100%;
  width: auto;
  padding: 0em;
  margin:  0em;
  max-width: 100%; /* Good to be flexible */
}

.post-title, p {
  text-align: start; /* for bidi posts */
}

#container {
  overflow: hidden;
}

#header {
  position: relative;
  z-index: 999;
  vertical-align: middle;
  overflow: hidden;
  min-height: 0.5em;
}

#logo-header{
  overflow: auto;
  height: auto;
  padding: 0.2em 0.2em;
  display: table;
}

#title{
  margin: auto 0;
  line-height: 100%;
  margin: 0.2em 0em 0em 0em;
}

#logo-image{
  display: table-cell;
  vertical-align: middle;
  margin: 0.1em;
}

#logo-text {
  display: table-cell;
  vertical-align: middle;
  padding: 0.1em 0.5em;
}

#description{
  font-size: 80%;
  margin: 0.5em 0.5em 0.5em 0.5em;
/*  line-height: 1em;*/
}

#wrapper {
  clear: both;
  margin: 0;
}

/**      mainbar content     */

#mainbar { /*do not put padding or margin or border width */
  margin: 0em;
  padding: 0em;
}

#contents {
  width: auto;
  padding: 0em;
  border-width: 0px;/* Will override it in other css*/
}

.post-top{
  padding: 1em 2em;
}

.post-rest{
  padding: 1em 2em;
}

.comment-top{
  padding: 0.5em 1em;
}

.comment-rest{
  padding: 0.5em 1em;
}

#comments{
  padding: 0.5em 1em;
}

#nav{
  clear: both;
  padding: 0;
  overflow: auto;
}

@media print{
  #nav{
    display: none;
  }

  #sidebar {
    display: none;
  }

  #footbar {
    display: none;
  }
}

#sidebar {
  display: block;
  width: 30%;
  height: 100%;
  overflow: hidden;
  padding: 0em;
  margin: 0em;
  font-size: 100%;
}

#footbar {
  height: auto;
  width: 100%;
  overflow: hidden;
}

/*------------------------*/

#footer {
  clear: both;
  font-size: 80%;
}

.alignleft {
  float: left;
}

.alignright {
   float: right;
}
