body{
  margin: 0em auto;
  min-width: 100px;
  max-width: 100%;
}

@media screen{
  body{
    width: 900px;
  }
}

@media print{
  body{
    margin: 0em 0em;
  }
}

#container {
  margin: 1em;
}

#contents {
  border-bottom-width: 1px;
}

#nav{
  padding: 0.3em;
}
