body{
  width: 100%;
}

#container{
}

#header {
  width: 100%;
  display: block;
}

#container, #logo {
  margin: 0em auto;
  min-width: 100px;
  max-width: 100%;
}

@media screen{
  #container, #logo{
    width: 900px;
  }
}

@media print{
  body{
    margin: 0em 0em;
  }
}

#contents {
  border-bottom-width: 1px;
}

#nav{
  padding: 0.2em;
}