/************************************************************************

+------------------------------------------------------------------+
| Header_Text_Color                                                |
| Header_Back_Color                                                |
|                                                                  |
+--------+-------------------------+-------------------------------+
|        |  Nav_Back_Color  Header_Back_Color             |        |
+--------+-------------------------+-------------------------------+
         |                         |  +-------------------+
         |  Canvas_Text_Color      |  | Panel_Back_Color  |
         |  Canvas_Back_Color      |  | Canvas_Back_Color |
         |                         |  |                   |
         |                         |  +-------------------+
         |                         |  +-------------------+
         |                         |  |                   |
         +-------------------------+  +-------------------+
         +------------------------------------------------+
         |                                                |
         +------------------------------------------------+

Body_Back_Color
Body_Back_Text

*************************************************************************/

/* Set Variables values */
$<
  header_text=$opposite(header_back)
  canvas_text=$opposite(canvas_back)
  body_text=$opposite(body_back)
  panel_back=$mix(canvas_back, header_back, 85)
  border_color=$mix(canvas_back, header_back, 50) /* Panels border color */
  nav_back=$mix(header_back, canvas_back, 70)
  box_back=$get(panel_back) /* Controls like EditBox, Code Box or Quote */ /* deprecated */
  link_text=$mix(canvas_text, highlight, 50)
>

/*
  ref:
    http://codex.wordpress.org/CSS
*/

html {
}

body {
  font: $get(font_size)pt $get(font_name);
  background: $get(body_back);
  color: $get(body_text);
}

h1{
  font-size: 160%;
}

h2{
  font-size: 150%;
}

h3{
  font-size: 130%;
}

h4{
  font-size: 120%;
}

h5{
  font-size: 110%;
}

h6{
  font-size: 100%;
}

.title {         /* in sidebar */
  font-size: 120%;
}

/* H1 of head/title not same size of h1 of post content*/
#header h1 {
  font-size: 220%;
  font-weight: bold;
}

#header h2 {
  font-size: 200%;
}

#header h3 {
  font-size: 180%;
}

.post-title h1{ /* should be .post-title h1*/
  font-size: 300%;
}

a{
  text-decoration: none;
  color: $get(link_text);
}

a:hover{
  text-decoration: none;
  color: $get(highlight);
}

caption, th, td {
  font-weight: normal;
}

.post-content img{
  height: auto;
  max-width: 100%;
  margin: 0.5em;
}

img.aligncenter{
  margin: 0.5em 0em;
}

.sticky{
}

.gallery-caption{
  color: $get(canvas_text);
}

.bypostauthor{
/*  display: inline-block;*/
}

.aligncenter, div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.skip {
  display: none;
}

pre {
  padding: 0.5em;
  margin: 0em;
  overflow: auto;
  background: $get(box_back);
  color: $get(canvas_text);
  border: 1px dotted $get(border_color)
}

code{
  padding: 0.1em;
  margin: 0em;
}

pre, code{
  font-family: monospace, serif;
  font-size: 11pt;
  border-radius: 0.2em;
}

embed, iframe, object {
  max-width: 100%;
  max-height: 100%;
}

/*----------------*/

#container {
  background: $get(panel_back);
  color: $get(canvas_text);
}

#header {
  background: $get(header_back);
$if(gradients)<
  background: linear-gradient(to bottom, $change(header_back, 20) 15%, $change(header_back, 20) 10%, $change(header_back) 70%);
>
  text-decoration: none;
}

#logo-header{
}

#title{
}

#logo-image{
}

#logo-text {
}

@media screen {
  #header h1{
  /*  text-outline: 2px 2px #ff0000; not supported yet by any browser */
    text-shadow: 0.1em 0.1em 0.1em $change(header_back, -20);
  }
}

$ifnot(is_mobile)<
@media screen{
  #container {
    box-shadow: 0.3em 0.3em 0.3em #999;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 1em;
  }

  #header {
    box-shadow: 0em 0.2em 0.5em 0.0em $mix(header_back, canvas_back);
  }
}
>

#description{
  color: $get(header_text);
  margin: 0.5em 0em;
}

#header a{
  text-decoration: none;
  color: $get(header_text);
}

#wrapper {
}

/**      mainbar content     */

#mainbar { /*do not put padding or margin or border width */
  background: $get(canvas_back);
  width: 100%;
}

#mainbar .post-title {
  padding: 0.2em 0;
  margin: 0.2em 0 0 0;
}

hr {
  color: $change(border_color);
  border-style: dotted;
  border-width: 0px 0px 1px 0px;
  margin: 0em;
  padding: 0em;
}

@media screen{
  #mainbar .post-title {
    border-bottom: 1px solid $get(border_color);
  }

  .post{
      border-bottom: 0.2em solid $change(panel_back, -15);
/*    box-shadow: 0em 0.5em 0.5em -0.5em red;*/
/*    margin-bottom: 0.5em; */
  }

  .post-rest{
    border-top: 0.3em solid $change(body_back);
    padding-top: 2em;
  }

}

@media print{
  #mainbar .post-title {
    border-bottom: 1px solid #333;
  }
}

#contents {
  border-style: solid;
  border-color: $get(border_color);
}

@media screen{
  #contents {
    border-bottom-width: 1px;
  }
}
ol#posts {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

li.post{
  list-style: none outside none;
/*  margin-bottom: 1em; */
}

ol#posts .more-link{
  text-decoration: none;
  font-size: 80%;
  color: #558caa;
}

.post-content p{
  margin: 0.1em 0.1em 1em;
}

.post-title a{
  color: $get(canvas_text);
  text-decoration: none;
}

.post-title a:hover {
  color: $mix(highlight, canvas_text, 50);
  text-decoration: none;
}

.infobar {
  list-style: none outside none;
  overflow: auto;
  font-size: 80%;
  color: $mix(canvas_back, canvas_text, 50);
  padding: 0.1em 0 0 0;
}

.infobar li{
  display: block;
  padding: 0 0.2em;
}

.infobar a{
  text-decoration: none;
  color: $get(link_text);
}


.infobar a{
  text-decoration: none;
  color: $get(link_text);
}

.infobar a:hover{
  text-decoration: none;
  color: $get(highlight);
}

.infobar .category{
}

.infobar .tags{
}

.infobar .comments-count{
}

li.post{
  clear: both;
  overflow: hidden;
}

table, th ,td, tr {
  border: 1px solid $get(border_color);
  border-collapse: collapse;
}

th, td {
  padding: 0.2em;
}

blockquote{
  padding: 0.5em;
  background: $get(panel_back);
  color: $get(canvas_text);
  border: 1px dotted $get(border_color)
}

/* Shared with comments */

.entry-type {
}

.entry-date{
}

.entry-date:before{
  content: "◊ "
}

.entry-author{
}

.entry-author:before{
  content: "• "
}

@media print{
  .post li.entry-edit {
    display: none;
  }

  a.comment-edit-link{
    display: none;
  }
}

div.post {
}

.post-content {
  clear: both;
  overflow: hidden;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
}

/* pagination */

.pagination {
  font-size: 80%;
  list-style: none;
  /*margin: 0.5em 0.1em 0;*/
  margin: 0em;
  padding: 0.5em 0.5em;
  overflow: auto;
/*  color: $get(canvas_text);*/
/*  background: $get(border);*/
/*  border-radius: 3px 3px 0 0; */
  background: $mix(header_back, canvas_back, 70);
}

.pagination a{
  color: $get(header_text);
}

.pagination a:hover{
  color: $get(highlight);
}

@media print{
  #pagination {
    display: none;
  }
}

#pagination a{
  text-decoration: none;
}

.previous-posts {
}

.next-posts {
}

.page-numbers {
  list-style: none;
  margin: 0.5em 0.1em 0;
  padding: 0.1em 0.5em;
  overflow: auto;
  color: $get(canvas_text);
  background: $get(border_color);
}

.page-numbers a{
  color: $get(link_text);
  background: $change(header_back, -20);
}

.page-numbers a:hover{
  color: $get(highlight);
}

.page-number{
  display: inline;
  padding: 0 0.2em;
}

#nav{
/*  border-top: 1px solid $mix(header_back, canvas_back);*/
  border-radius: 3px 3px 0 0;
  background: $get(nav_back);
  color: $get(header_text);
}

#nav-page, #nav-subpage {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
}

#nav-subpage {
  font-size: 80%;
  clear: both;
}

#nav-page ul, #nav-subpage ul {
}

#nav-page li, #nav-subpage ui {
  padding: 0.1em 0.4em;
  margin: 0.1em
}

#nav-page li{
  display: block;  
  margin: 0.1em 0.5em;  
}

#nav-subpage li {
  display: inline;
  margin: 0.1em 0.5em;
  padding: 0.2em;
}

#nav a{
    color: $get(header_text);
}

#nav a:hover{
  color: $get(header_text);
  border-color: #f00;
}

#nav a:hover{
  color: $get(header_text);
}

#nav .current_page_item{
  border-radius: 3px;
  box-shadow: 0 0 0.4em 0 $mix(header_text, highlight);
  color: $get(header_back);
  background: $get(header_text);
}

#nav .current_page_parent{
  border-radius: 2px;
  box-shadow: 0 0 0.4em 0 $mix(header_text, highlight);
  background: $get(header_text);
}

#nav .current_page_item a {
  text-decoration: none;
  color: $get(header_back);
}

#nav .current_page_parent a {
  text-decoration: none;
  color: $get(header_back);
}

.widget_tag_cloud a {
}

.comments-area{
}

#comments h2{
  font-size: 100%;
}

.comment-form-comment label{
  vertical-align: top;
}

.comment-list {
  list-style: none outside none;
  padding: 0.5em 0 0 0;
}

.comment-body {
  border-bottom: 1px solid $get(border_color);
  margin: 0.5em;
  padding-bottom: 0.5em;
}

.children{
}

.comment{
  background: $get(panel_back);
  color: $get(canvas_text);
  padding: 0;
  overflow: auto;
}

.comment p {
  padding: 0;
  margin: 0.5em;
}

.avatar{
  padding: 0.2em;
  display: Block;
}

input[type=text]{
  border: 1px solid $get(border_color);
  padding: 0.2em;
  margin: 0;
  border-radius: 3px;
  color: $get(canvas_text);
  background: $get(box_back);
}

input[type=submit]{
  padding: 0.2em;
  margin: 0;
  font: $get(font_size)pt $get(font_name);
  border-radius: 3px;
  border: 1px solid $mix(canvas_back, header_back);
  color: $get(canvas_text);
  background: $get(box_back);
}

textarea#comment {
  width: 95%;
  font-size: 100%;
  padding: 0.2em;
  border-radius: 3px;
  border: 1px solid $mix(canvas_back, header_back, 50);
  color: $get(canvas_text);
  background: $get(box_back);
}

#reply-title{
  font-size: 100%;
}

@media print{
  #reply-title{
    display: none;
  }
}
@media print{
  #commentform {
    display: none;
  }
}

/* sidebar */

#sidebar {
  color: $get(canvas_text);
}

#sidebar a{
/*  color: $mix(highlight, canvas_text, 0); */
  color: $get(canvas_text);
  text-decoration: none;
}

#sidebar a:hover{
  color: $get(highlight);
  text-decoration: none;
}

#sidebar > ul {
  padding: 0em 1em;
  list-style-type: none;
}

#sidebar li{
}

#sidebar > ul > li {
  text-shadow: 2px 2px 2px #d7d7d7;
  padding-bottom: 1em;
  margin-bottom: 1em;
  list-style-type: none;
  border-bottom: 1px solid $get(border_color); /* Will override in other css */
  text-shadow: 2px 2px 2px $get(border_color);
}

#sidebar > ul > li > ul {
  text-shadow: none;
  color: $get(link_text);
  text-decoration: none;
}

/* sub pages less padding */

#sidebar > ul > li > ul > li > ul {
  font-size: 80%;
}

.widget#sidebar li{
  color: $change(header_back, -20);
}

#footbar {
  background: #000;
  color: $get(canvas_back);
/*  border-top: 3px solid $get(header_back); */
}

#footbar a{
  color: $get(canvas_back);
  text-decoration: none;
}

#footbar > ul {
  list-style-type: none;
  margin: 0;
}

#footbar > ul >li {
  list-style-type: none;
  padding: 0.5em;
}

/*------------------------*/

#footer {
}

#calendar_wrap th, #calendar_wrap td{
  text-align: center;
}

#copyright {
  text-align: left; /* Do not change it */
  padding: 0 0.3em;
  margin: 0 1em;
  width: auto;
  height: auto;
  color: $mix(canvas_back, header_back, 40);
  font-size: 80%;
}

#copyright a{
}

@media print{

  #pagination, #footer-info {
    display: none;
  }
}

@media print
{
  .pagebreak {
    page-break-inside: avoid; /* wrong when print one select post */
    page-break-after: auto;
  }
}

/* drawer */
.drawer-opened {
  background: $change(panel_back);
  color: $get(canvas_text);
  border-color: $get(canvas_text);
}

.drawer-closed {
  border-color: $get(header_text);
}

#drawer {
/*  content: "≡"; */
  display: block;
  width: 1.6em;
  height: auto;
  margin: 0.0em;
  float: left;
}

/*
* ref: http://css-tricks.com/three-line-menu-navicon/
       in comments
*/

#drawer-button
{
    display: block;
    height: 0.26em;
    line-height: 0;
    width: auto;
    border-top: .74em double;
    border-bottom: .24em solid;
    margin: 0.2em;
    padding: 0em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/** WordPress */

.wp-caption {
  max-width: 100%;
  padding: 0.1em;
  margin: 0.5em;
  background: $get(panel_back);
  color: $get(canvas_text);
  border: 1px dotted $get(border_color);
  text-align: center;
}

.wp-caption img{
  margin: 0.5em 0em;
}

.wp-caption-text{
  color: $get(canvas_text);
}

table#wp-calendar {
  width: 100%;
}


