body{
  margin:0em 0em;
}

#main {
  width: 100%;
}

#container {
  margin: 0em;
}

#header {
}

#sidebar {
/*  float: left; */
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}

#sidebar {
  background: #000;
  color: #fff;
}

#sidebar  {
}

#sidebar a{
  color: #fff;
  text-decoration: none;
}

#sidebar > ul {
  padding: 0em 0em;
}

#sidebar>ul>li {
  float: left;
  padding-bottom: 0.5em;
}

#sidebar>ul>li>ul {
  float: left;
  padding-bottom: 0.5em;
  padding-left: 2em;
}

.widget {
  padding-left: 1em;
}

.post img {
  max-width: 100%;
  height: auto;
  margin: auto;
}