body{
  margin: 0em auto;
  min-width: 100px;
  max-width: 100%;
}

@media screen{
  body{
    width: 900px;
  }
}

@media print{
  body{
    margin: 0em 0em;
  }
}

#container {
  margin: 1em;
}

@media screen{
  #container {
    box-shadow: 0.3em 0.3em 0.3em #AAA;
    border-radius: 5px;
  }

  #header {
    box-shadow: 0em 0.2em 0.5em 0.0em #AAA;
  }
}

#contents {
  border-bottom-width: 1px;
}