.alignleft {
  float: left;
}

.alignright {
   float: right;
}

#logo_image{
  float: left;
}

#main {
  float: left;
}

.infobar .category{
  float: left;
}

.infobar .tags{
  float: left;
}

.info_type {
  float: left;
}

.date{
  float: left;
}

.author{
  float: left;
}

.previous-posts {
  float: left;
  text-align: left;
}

/* not sure if it is good, it is the left of widget list item*/
#sidebar>ul>li>ul {
  padding-left: 2em;
}

#sidebar>ul>li>ul>li>ul {
  padding-left: 1em;
}

#nav_page li{
  float: left;
}

#nav_subpage li {
  float: left;
}

.widget_tag_cloud a {
  padding-left: 5px;
}

.avatar{
  float: left;
}

.infobar .comments_count{
  float: right;
}

.edit{
  float: right;
}

.next-posts {
  float: right;
  text-align: right;
}

/* From Screen */
#sidebar {
  float: left;
}

@media screen{
  #inside {
    border-right-width: 1px;
  }