body {
  direction: rtl;
}

.alignleft {
  float: right;
}

.alignright {
   float: right;
}

caption, th, td {
  text-align: left;
}

#logo_image{
  float: right;
}

#main {
  float: right;
}

.infobar .category{
  float: right;
}

.infobar .tags{
  float: right;
}

.entry-type {
  float: right;
}

.entry-date{
  float: right;
}

.entry-author{
  float: right;
}

.entry-edit{
  float: left;
}

.previous-posts {
  float: right;
  text-align: right;
}

/* not sure if it is good, it is the left of widget list item*/
#sidebar>ul>li>ul {
  padding-right: 2em;
}

#sidebar>ul>li>ul>li>ul {
  padding-right: 1em;
}

#nav-page li{
  float: right;
}

#nav_subpage li {
  float: right;
}

.widget_tag_cloud a {
  padding-right: 5px;
}

.children{
  padding-right: 1em;
}

.avatar{
  float: right;
}

.infobar .comments_count{
  float: left;
}

.next-posts {
  float: left;
  text-align: left;
}

/* From Screen */
#sidebar {
  float: right;
}

#footbar {
  float: right;
}

#footbar>ul {
  padding-right: 1em;
}

#footbar>ul>li {
  float: right;
}

@media screen{
  #inside {
    border-left-width: 1px;
  }
}