body{
  width: 100%;
}

#container{
}

#header {
  width: 100%;
  display: block;
}

#container, #logo {
  margin:0em auto;
  min-width: 100px;
  max-width: 100%;
}

@media screen{
  #container, #logo{
    width: 900px;
  }
}

@media print{
  body{
    margin: 0em 0em;
  }
}

#main {
  width: 100%;
}

@media screen{
  #container {
    box-shadow: 0.3em 0.3em 0.3em #AAA;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 1em;
  }

  #header {
    box-shadow: 0em 0.2em 0.5em 0.0em #AAA;
  }
}

#contents {
  border-bottom-width: 1px;
}